.DS_Store
node_modules/
yarn-error.log
.env
.rest

public/
.coverage/
.rest
.storybook/jestResults.json
config/*.whiteops.json
!config/graph.config.whiteops.json
packages/dashboard/dist/
packages/dashboard/tmp/
packages/dashboard/**/no-sockets
packages/dashboard/scripts/oneTimeScripts/update-okta-profile.js
packages/ushnu/coverage/
packages/analytics-widgets/dist/

.idea/
.yarn/

cypress.env.json
cypress/downloads/
cypress/screenshots/
cypress/videos/
cypress/results/

*.p8
